body {
    margin:0px;
    padding:0px;
    background-color: #0f1015;
    color : #ffffff;
} 

a, a:hover, a:link, a:active, a:visited {
    text-decoration: none;
    color : #ffffff;
}

li {
    text-decoration: none;
    list-style-type: none;
}

.navbar {
    display: block;
    padding: 0px;
}

.navbar:before {
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    background: -webkit-gradient(linear,left top,right top,from(#ed145b),to(#7b31f4));
    background: linear-gradient(90deg,#ed145b 0,#7b31f4);
}

.navbar-menu{
    height : 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.navbar-btn{
    padding : 0px 10px;
    letter-spacing: 0.2rem;
    font-size: 17px;
}

.navbar-container {
    display: inline-block;
    text-align: center;
}

.modal{
    color: #0f1015;
}

.btn {
    padding : 2px 20px;
}
.btn-pink {
    color: #fff;
    background-color: #ed145b;
}
.btn-purple {
    color: #fff;
    background-color: #7b31f4;
}
.btn-outline-purple {
    color: #7b31f4;
    border-color: #7b31f4;
}
.btn-outline-purple:hover {
    color: #fff;
    background-color: #7b31f4;
}
.movie-card:hover {
    transform: scale(1.07);
}
.movie-image {
  width:100%;
}

#card-add-movie:hover{
    z-index:999;
}


.badge-pink{
    font-size: 15px;
    font-weight: 500;
    padding: 4px 20px;
    margin-right: 12px;
    color: #fff;
    background-color: #ed145b;
}

.movie-detail-container, .admin-card{
    background: -webkit-gradient(linear,left top,right top,from(#3e0c1c),to(#2d0f5e));
    background: linear-gradient(90deg,#3e0c1c 0,#2d0f5e);
}
.div-comment{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    margin-left :15px;
    margin-bottom: 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    color: #000;
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    
}
.div-comment p{
    margin-bottom: 0;
}