{% extends 'base.html' %}

{% block body %}
<div class="container" id="account">
  {% csrf_token %}
  <h1>{{ user.username }}' page</h1>
  <button @click="follow({{user.id}})" class="btn btn-pink">[[ followed ]]</button>
  

  <h2 class="mt-5">선호 장르</h2>
  
  
  <div class="row ">
  {% for genre in genre_list %}
    <div class="form-check form-check-inline col-2 mt-3 ml-3 border border-puple">
      {% if genre in like_genres %}
        <input @click="changeCheck({{genre.id}})" class="ml-2 form-check-input" type="checkbox" checked="checked">
      {% else %}
        <input @click="changeCheck({{genre.id}})" class="ml-2 form-check-input" type="checkbox">
      {% endif %}
      <label class="form-check-label">{{ genre.name }}</label>
    </div>
  {% endfor %}
  </div>
  
  <button @click="updateLikeGenre({{user.id}})" class="btn btn-pink mt-4">저장</button>
  
  <button @click="getRecommend()" class="btn btn-pink mt-4 ml-2">영화 추천</button>
  
  <div class="card-columns">
    <div v-for="movie in movie_list">
      <div class="card" style="background-color: #181818" @click="getMovie(movie.id)">
          <img v-bind:src="movie.poster_url" class="card-img-top" alt="..." style="opacity: 0.6">
          <div class="card-img-overlay">
            <h4 class="card-title text-white">[[ movie.title ]]</h4>
            <h5 class="card-title text-white">[[ movie.original_title ]]</h5>
          </div>
        </div>
    </div>
  </div>
  
</div>


<script>
  var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;

  const app = new Vue({
    delimiters: ['[[', ']]'],
      
    el: "#account",
      
    data: {
      followed: "",
      
      like_genre: [],
      movie_list: [],
    },
        
    methods: {
      follow: async function(userId) {
        const followUrl = `https://${BASE_URL}/api/v1/users/${userId}/follow/`
        const response = await axios.get(followUrl)

        if(this.followed === "follow") {
          this.followed = "unfollow"
        } else {
          this.followed = "follow"
        }
      },
      
      updateLikeGenre: function(userId) {
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

        const genreUrl = `https://${BASE_URL}/api/v1/users/${userId}/genre/`
        const token = csrf_token
        
        const payload = {
          "content-type": "application/json",
          "x-csrf-token": token,
        }
        
        
        const content = {
          "like_genre": this.like_genre
        }

        axios({ method: 'PUT', url: genreUrl, headers: payload, data: content })
        .then(response => {
          
        })

      },
      
      changeCheck: function(genreId) {
        let len = this.like_genre.length
        
        for(let i = 0; i < len; i++) {
          if(this.like_genre[i] === genreId) {
            this.like_genre.splice(i, 1)

            return
          }
        }
        
        this.like_genre.push(genreId)
      },
      
      getRecommend: async function() {
        const movieUrl = `https://${BASE_URL}/api/v1/movies/{{user.id}}/recommend/`
        const movieResponse = await axios.get(movieUrl)
        
        this.movie_list = movieResponse.data
      }

    },
    
    created: async function() {
      // follow 확인 기능
      const followUrl = `https://${BASE_URL}/api/v1/users/{{user.id}}/checkfollow/`
      const response = await axios.get(followUrl)
      
      if(response.data['message']) {
        this.followed = "unfollow"
      } else {
        this.followed = "follow"
      }
      
      
      // 기존에 선정했던 genre 가져오는 기능
      const genreUrl = `https://${BASE_URL}/api/v1/users/{{user.id}}/genre/`
      const genreResponse = await axios.get(genreUrl)
      
      const genreData = genreResponse.data
      
      for(genre in genreData) {
        this.like_genre.push(genreData[genre])
      }
      
      
      // 이전에 추천되었던 영화 가져오는 기능
      
      
      
    }
      
  })
    
</script>
{% endblock %}