{% extends 'base.html' %}

{% block body %}
<div class="container" id="account">
  <h2>{{ user.username }}' page</h2>
  <!--<p>{{ follower_count }}</p>-->
  
  <button @click="follow({{user.id}})" class="btn btn-pink">[[ followed ]]</button>
  
  
  
</div>


<script>
  const app = new Vue({
    delimiters: ['[[', ']]'],
      
    el: "#account",
      
    data: {
      BASE_URL : 'movie-recommend-app-naye0ng.c9users.io',
      followed: "",
      movieList: [],
    },
        
    methods: {
      follow: async function(userId) {
        const followUrl = `https://${this.BASE_URL}/api/v1/users/${userId}/follow/`
        const response = await axios.get(followUrl)
        
        console.log(response)
        
        if(this.followed === "follow") {
          this.followed = "unfollow"
        } else {
          this.followed = "follow"
        }
      },
      
      // movieRecommend: async function(userId) {
        
      // }
    },
    
    created: async function() {
      const followUrl = `https://${this.BASE_URL}/api/v1/users/{{user.id}}/checkfollow/`
      const response = await axios.get(followUrl)
      
      if(response.data['message']) {
        this.followed = "unfollow"
      } else {
        this.followed = "follow"
      }
    }
      
  })
    
</script>
{% endblock %}