{% extends 'base.html' %}


{% block body %}
<div class="container" id="main">
  <div class="card-columns">
    <div v-for="movie in movieList"> 
  
      <div class="card">
        <img v-bind:src="movie.poster_url" class="card-img-top" alt="..." >
        <div class="card-img-overlay">
          <h4 class="card-title text-white">[[ movie.title ]]</h4>
          <h5 class="card-title text-white">[[ movie.original_title ]]</h5>

        </div>
      </div>
      
    </div>
  </div>
</div>

<script>
  const main = new Vue({
    delimiters: ['[[', ']]'],
    
    el: "#main",
    
    data: {
        movieList: []
    },
    
    methods: {
        
    },
    
    created: async function() {
      const movieListUrl = "https://movie-recommendator-don2101.c9users.io/api/v1/movies/"
      const response = await axios.get(movieListUrl)
      this.movieList = response.data
      console.log(this.movieList)
    },

  })
  
  
</script>
{% endblock %}